
$bg-color: black;
$primary-color: white;
$secondy-color: black;
$largura-width: 1200px;
$altura-heigth: 570px;
$direito-right:150px;
$esquerda-left: 150px;
$margin-topo:60px;
$margin-baixo:20px;

$largura2-width:600px;
$altura2-heigth:400px;
